body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
p {
  font-size: 10px;
  color: #6e7a90;
}
.back-button {
  transform: rotate(180deg) scaleX(-1);
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10% 0 10%;
}
